* {
	margin: 0px;
}

body { 
	background-color: #f1f1f0;
}

.colorChange {
	transition: background-color 5s, color 5s;
}

.frontpage {
	height: 100%;
	background-image: url('res/frontpage.jpg');
	background-size: cover;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.frontpage .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 64px;
	font-weight: 100;
}

.frontpage .desc {
	font-size: 12px;
	font-weight: 100;
	text-align: center;
}

.section {
	position: relative;
	height: 400px;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
}

.left {
	background-color: rgba(0, 0, 0, 0.2);
}

.section .image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.section .image img {
	max-height: 90%;
	max-width: 90%;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}


.section .image img:hover  {
	transform: scale(1.05) translate(-47.5%, -47.25%);
	transform-origin: center;
}

.section .text {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 22px;
	transform: translate(10px, -50%);
	text-align: left;
	font-family: "Open Sans Condensed";
}

.section .text h1 {
	font-family: Raleway;
	font-weight: 100;
	letter-spacing: -1px;
}

.section .text .code {
	display: inline-block;
	text-decoration: none;
	color: #07a1f2;
}

.section .text .code:after {
	content: 'code </>'
}

.left .text {
        left: auto;
        right: 50%;
        width: 50%;
        text-align: right;
        transform: translate(-10px, -50%);
}

.left .image {
        background-position: right center;
        left: auto;
        right: 0px;
}

.button {
	color: black;
	font-family: Raleway;
	font-weight: 700;
	position: relative;
	top: 10px;/* Fix off centering */
	display: inline-block;
	padding: 5px 10px 5px 12px;
	border: 1px solid #b1b1b1;
	overflow: hidden;
	transition: 1s all;
}

.button::after {
	background-color: #07a1f2;
	display: inline-block;
	position: absolute;
	width: 500px;
	height: 500px;
	transform-origin: center;
	transform: rotate(45deg) translate(-18%, 0);
	content: ' ';
	z-index: -1;
	transition: .6s all;
}

.button:hover::after {
        transform-origin: center;
	transform: rotate(45deg) translate(-33%, 0);
}

.button:hover {
	color: white;
}
