* {
	padding: 0px;
	margtin: 0px;
}

body {
	background-color: #eeeeee;
}

.tile-wrapper {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.tile {
	display: inline-block;
	position: relative;
	width: 380px;
	height: 380px;
	margin: 0px 8px 0px 8px;
	-webkit-box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
	transition: all 0.5s;
}

.tile:hover {
	transform-origin: center;
	transform: scale(1.05);
	transition: all 0.5s;
	background-color: rgba(25, 100, 255, 0.1);
}

.tile img {
	width: 100%; 
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	background-color: rgba(0, 0, 0, 0);
}

.tile:hover > .overlay {
	background-color: rgba(25, 100, 255, .4);
}

.title {
	position: absolute;
	top: 25px;
	left: 25px;
	text-align: left;
	font-size: 2em;
	font-weight: 300;
	font-family: 'Raleway';
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
	color: #eeeeee;
}
