* {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.frontpage {
	height: 100%;
	background-image: url('res/frontpage.jpg');
	background-size: cover;
	color: white;
}

.frontpage .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 64px;
	font-weight: 100;
}

.frontpage .desc {
	font-size: 12px;
	font-weight: 100;
	text-align: center;
}

.section {
	position: relative;
	height: 500px;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
}

.left {
	background-color: rgba(0, 0, 0, 0.3);
}

.section .image {
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 50%;
	height: 480;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center; 
}

.section .text {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 22px;
	vertical-align: center;
	transform: translate(10px, -50%);
	text-align: left;
}

.left .image {
	background-position: right center; 	
	left: auto;
        right: 0px;
}

.left .text {
	left: auto;
	right: 50%;
	width: 50%;
	text-align: right;
	transform: translate(-10px, 0%);
}


.section .text h1 {
	font-weight: 100;
}
