* {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.colorChange, .colorChange2{
	transition: background-color 5s, color 5s;
}

.frontpage {
	height: 100%;
	background-image: url('res/frontpage.jpg');
	background-size: cover;
	color: white;
}

.frontpage .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 64px;
	font-weight: 100;
}

.frontpage .desc {
	font-size: 12px;
	font-weight: 100;
	text-align: center;
}

.section {
	position: relative;
	height: 500px;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);	
}

.left {
	background-color: rgba(0, 0, 0, 0.3);
}

.section .image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 500;
	text-align: center;
	vertical-align: middle;
}

.section .image img {
	max-height: 90%;
	max-width: 90%;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}


.section .image img:hover  {
	transform: scale(1.05) translate(-47.5%, -47.25%);
	transform-origin: center;
}

.section .text {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 22px;
	vertical-align: center;
	transform: translate(10px, -50%);
	text-align: left;
}

.left .image {
	background-position: right center; 	
	left: auto;
        right: 0px;
}

.left .text {
	left: auto;
	right: 50%;
	width: 50%;
	text-align: right;
	transform: translate(-10px, -50%);
}


.section .text h1 {
	font-weight: 100;
}

.section .text a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	border-bottom: 1px solid black;
	line-height: 12px;
}
