* {
	margin: 0px;
	font-family: "Segoe UI Light", "HelveticaNeue-UltraLight", sans-serif;
	-webkit-transition: all 1s;
}

body {
	perspective: 2000px;
	scale:0.5;
}

.title {
	position: relative;
	top: 2%;
	font-size: 36px;
	text-align: center;
	line-height: 12px;
}

.pane {
	max-height: 95%;
	width: 49%;
	position: absolute;
	border: 1px solid #aaa;
        height: 90%;
        top: 5%;
}

.right {
        right: 1%;
        -webkit-transform: rotateY(-10deg);
	-webkit-transform-origin: right;
        transform: rotateY(-10deg);
}


.left {
	left: 1%;
	-webkit-transform: rotateY(10deg);
	-webkit-transform-origin: left;
	transform: rotateY(10deg);
}

.top {
	height: 44%;
}

.bottom {
	height: 44%;
	top: 51%;
}

.content {
	height: 100%;
	margin: 5px 5px 5px 5px;
	line-height: 18px;
	font-size: 16px;
	overflow: none;
}

.content h1 {
	display: block;
	text-align: center;
	font-weight: 100;
	font-size: 22px;
	margin-bottom: 12px;
}
