@font-face {
	font-family: 'Lucida Console';
	src: url('Lucida Console.ttf')  format('truetype'); /* Need to add more formats! */
}
.caret {
	display: inline-block;
	background-color: #32ff32;
	opacity: 0;
}

.console {
	position: relative;
	padding: 5px;
	border: 1px grey solid;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: black;
	text-align: left;
	color: #ccc;
	font-family: 'Lucida Console';
	font-weight: 100;
	font-size: 12px;
	line-height: 1.3333em;
	word-wrap: break-word;
	word-break: break-all;
}

.console-input-container {
	position: relative;
	display: inline;
}

.console-input, .console-output {
	color: #ccc;
	font-weight: 100;
	line-height: 14px;
	display: inline-block;
}

.console-input {
	color: #ccc;
	white-space: pre;
}

.console-input-textarea {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	resize: none;
	outline : none;
	width: 100%;
	min-height: 100%;
	opacity: 0;
}
